{block content}
    <div class="homeBanner">
	    <h1 class="mainHeader">Task 1 Data</h1>
    </div>

    <div class="returnDiv">
	    <a n:href="Home:default" class="returnLink">Return</a>
    </div>

    <div class="imgDiv">
        <div class="upperText">{$dataUpper}</div>
        <div class="lowerText">{$dataLower}</div>
    </div>
    
{/block}